p{
    margin: 0px;
}
.div1{
    background-color: brown;
    height: 1000px;
}
.logo{
    height:80px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: green;
    display: flex;
    justify-content: center;
}
.div2{
    display: flex;
    background-color: green;
    height: 60px;
    margin-top: 20px;
}
.para{
    margin-top: 30px;
    font-size: large;
    font-family: arial;
    color: aliceblue;
}
nav{
    flex:1;
    text-align: center;
}
nav ul{
    display: inline-block;
    list-style-type:none;
}
nav ul li{
    display: inline-block;
}
a{
    padding-right: 20px;
    text-decoration: none;
    color: aliceblue;
    font-family: arial;
    font-weight: bold;
}
.div3{
    
    width:1100px;
    height: 600px;
    background-color: aliceblue;
    margin-left: 100px;
    margin-top: 20px;

}
.div4{
    display: flex;
    height: 150px;
    width: 1000px;
}   
.HEAD{
   margin-top: 50px;
   margin-left: 400px;
    font-family: arial;
    font-weight: bold;
    font-size: large;
    color: brown;
}
.div5{
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
}
.sq1{
    background-color: green;
    height: 200px;
    width: 200px;
    display: inline-block;
}
.sq2{
    background-color: green;
    height: 200px;
    width: 200px;
    display: inline-block;
}
.sq3{
    display: inline-block;
    background-color: green;
    height: 200px;
    width: 200px;
}
.sqpara{
    margin-top: 90px;
    margin-left: 70px;
    font-family: arial;
    font-size: large;
    font-weight: bold;
    color: aliceblue;
}
.para2{
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px ;
    color: brown;
    font-family: arial;
}
h3{
    padding-left: 20px;
    color: brown;
}